<!DOCTYPE html>
<html lang="{{request.locale_name}}">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="pyramid web application">
  <meta name="author" content="Pylons Project">
  <link rel="icon" href="{{request.static_url('myproject:static/Icons/favicon_16x16.ico')}}" type="image/x-icon">
  <link rel="stylesheet" href="{{request.static_url('myproject:static/CSS/main/rooms_style.css')}}">


  <title>Account info</title>

  <!-- Bootstrap core CSS -->
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->
</head>
    <body>
    <img src="../static/Textures/desert.png" class="bg">
      <h1>Email: {{ email }}</h1>
      <h1>Ник: {{ nickname }}</h1>

      <h2>Сыгранные игры:</h2>
      {% if paginator.items %}
      <ul>
          {% for game in paginator.items %}
          <li>
            <p>Победитель: <a href="{{ request.route_url('account_info', email = game.winner.user.email, nick=game.winner.nick) }}">{{game.winner.nick}}</a>, Проигравший: <a href="{{ request.route_url('account_info', email = game.looser.user.email, nick=game.looser.nick) }}">{{game.looser.nick}}</a></p>
            <p>Время: {{game.date_time}}</p>
          </li>
          {% endfor %}
      {{ paginator.pager() |safe}}
      </ul>
      {% else %}

        <p>Сыгранных игр не найдено.</p>
      {% endif %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="//oss.maxcdn.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//oss.maxcdn.com/libs/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
  </body>
  </html>