<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Main Page</title>
  <script type="text/javascript" ></script>
  <title>Icon</title>
  <link rel="icon" href="{{request.static_url('myproject:static/Icons/favicon_16x16.ico')}}" type="image/x-icon">
  <title>Стили</title>
  <link rel="stylesheet" href="{{request.static_url('myproject:static/CSS/main/menu_style.css')}}">
  <link rel="stylesheet" href="{{request.static_url('myproject:static/CSS/main/rooms_style.css')}}">
  <title>Js</title>
  <title>Имя пользователя</title>
  <div id="login" style="display: none;">{{login}}</div>
</head>

<body id="body" >

<div class="game_panel" id="game_panel">
  <img src="" alt="Game place" width="500" height="500">
</div>


</body>
</html>
