<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
  "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Main Page</title>
  <script type="text/javascript" ></script>
  <title>Icon</title>
  <title>Стили</title>
  <link rel="stylesheet" href="../dima/CSS/dima_style.css">
  <title>Js</title>
  <title>Имя пользователя</title>
</head>

<body id="body" style="margin: 0;">
<div class="intro_video" id="intro_video" style="width: 100%; height: 100vh; overflow: hidden;">
<label class="logo">Tour Me</label>
<video autoplay loop style="width: 100%    !important;  height: auto   !important;"> <source src="videoplayback.mp4" type="video/mp4"> Your browser does not support HTML5 video.</video>
</div>
<nav class="menu" id="menu" style="width: 100%;">
  <li class="menu_item"style="background-color: #33d6c9"><a class="menu_item_link" href="" data-hover="Home" >Home</a>
  <li class="menu_item"style="background-color: #5dded3"><a class="menu_item_link" href="" data-hover="Tours" >Tours</a>
  <li class="menu_item"style="background-color: #87e6de"><a class="menu_item_link" href="" data-hover="Contact us" >Contact us</a>
  <li class="menu_item"style="background-color: #b4f0eb"><a class="menu_item_link" href="" data-hover="About us" >About us</a>
  <!--<a class="menu_item_link" href="#" data-hover="Home" style="background-color: #33d6c9">Home</a>
  <a class="menu_item_link" href="#" data-hover="Tours" style="background-color: #5dded3">Tours</a>
  <a class="menu_item_link" href="#" data-hover="Contact us" style="background-color: #87e6de">Contact us</a>
  <a class="menu_item_link" href="#" data-hover="About us" style="background-color: #b4f0eb">About us</a>-->
</nav>
<div style="padding-top: 64px;">

  <div style="background: url(http://cdn.fishki.net/upload/post/201502/18/1432620/gallery/1424166654-c884eb7b08815b3b01c8b0a9f31adf3c.gif);     background-repeat: no-repeat; height: 300px;">
    <h1>
      Совушка
    </h1>
  </div>
</div>


  <img src="http://podkat.com/uploads/posts/2012-10/1349981639_1349845h.jpg">
  <img src="http://nibler.ru/uploads/users/5927/2012-07-10/kartinochki-subbotnie-kartinki-smeshnye-kartinki-fotoprikoly_966827347.jpg">
  <img src="http://livestreet.ru/uploads/images/01/92/46/2015/07/30/bd3dfd373a.jpg">
  <img src="http://cs9811.vk.me/u29138971/125405835/y_ea66ac4f.jpg">
  <img src="http://cdn.fishki.net/upload/post/201502/18/1432620/gallery/1424166654-c884eb7b08815b3b01c8b0a9f31adf3c.gif">-->
</div>
<!-- Подгружаем джаваскрипт файлы для меню-->
  <script type="text/javascript" src= "../dima/js/dima_js.js"></script>
</body>
</html>
